# %appname%

%description%

## Installation

```bash
git clone .../%appname%.git
cd %appname%
yarn vcms:install
```

### Development

```bash
yarn install:database
yarn build
yarn test
yarn backend:start
yarn polymer:start
```

### Production

```bash
yarn vcms:build
yarn test
yarn vcms:run
```
